# Flutter / Dart
.dart_tool/
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.lock

# macOS
.DS_Store

# Android
android/local.properties
android/app/*.jks
android/key.properties
*.keystore
*.jks
